$primary-color: #a632e0;
$white: #fff;
$light-black: #1b1b1b;
$black: black;
$very-light-grey: #e8e8e8;
$light-grey: #999;
$grey: #666;
$dark-grey: #333;
$primary-font: "Source Sans Pro", sans-serif;
